Code - OSS/
chromium/
dconf/
go/
inkscape/
nwg-look/
libreoffice/
obsidian/
obs-studio/
rncbc.org/
matplotlib/
audacity/
vlc/
xsettingsd/
kdeglobals
kdenlive-layoutsrc
kdenlive
mimeapps.list
QtProject.conf
**/**/venv/
**/**/package-lock.json
**/**/node_modules/
