audacity/
bluetuith/
btop/
Code/
cava/
compact/
dconf/
environment.d/
fish/
git/
gtk-*/
hypr/
mozilla/
nautilus/
nextjs-nodejs/
lazygit/
nvim/
obsidian/
pulse/
systemd/
vlc/
zathura/
Zulip/
starship.toml.backup
hypr/.luarc.json
kitty/kitty.conf.bak
nvim/.luarc.json
nvim/spell/
nvim/lazy-lock.json
autostart/
chromium/
go/
qBittorrent/
mimeapps.list
QtProject.conf
