Code - OSS/
chromium/
dconf/
discord/
flutter/
fvm/
go/
inkscape/
nvim/
nwg-look/
libreoffice/
obsidian/
obs-studio/
rncbc.org/
matplotlib/
audacity/
vlc/
xsettingsd/
kdeglobals
kdenlive-layoutsrc
kdenlive
mimeapps.list
QtProject.conf
Ultralytics/
cava/
configstore/
pulse/
qBittorrent/
**/**/venv/
**/**/package-lock.json
**/**/node_modules/
