@import "stylesheet.css";

* {
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

window#waybar {
  background: transparent;
  border-radius: 4px;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @amethystww;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @amethystww;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: @amethystww;
  box-shadow: inset 0 -3px @amethystww;
}

#workspaces button.urgent {
  background-color: #ebbe4b;
}

#mode {
  background-color: #64727D;
  box-shadow: inset 0 -3px @amethystww;
}

#custom-weather,
#clock,
#battery,
#bluetooth,
#network,
#custom-power #pulseaudio {
  padding: 0 7px;
}

#custom-weather {
  color: @yelloww;
  padding: 0 20px 0 3px;
}



#custom-notification {
  color: @yelloww;
  padding: 0 20px 0 3px;
}

#pulseaudio {
  color: @flamingoww;
}

#network {
  color: @flamingoww;
}

#bluetooth {
  color: @flamingoww;
}

#battery {
  color: @flamingoww;
}

#clock {
  color: @amethystww;
}

#custom-power {
  color: @flamingoww;
}

.modules-right,
.modules-left,
.modules-center {
  /*  background-image: linear-gradient(to bottom, @dawnupi, @dawnmid, @dawndown); */
  background-color: @backww;
  border-radius: 15px;
}

.modules-right {
  padding: 0 10px;
}

.modules-left {
  padding: 0 20px;
}

.modules-center {
  padding: 0 10px;
}

#battery.charging,
#battery.plugged {
  color: @yelloww;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#pulseaudio.muted {
  color: @flamingoww;
  padding: 0 16px 0 7px;
}
